NEXT_PUBLIC_SUPABASE_URL=https://wbrzdyscrkwzcsjrobre.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndicnpkeXNjcmt3emNzanJvYnJlIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA4NTY0MTIsImV4cCI6MjA5NjQzMjQxMn0.a0ldMR0l8tVu5eJMpAcM2m9Nixke-LU3xBjx3eUc5ZQ
NEXT_PUBLIC_SITE_URL=https://seu-projeto.vercel.app
